.row {
    display: grid;
    grid-template-areas: "s c";
    grid-template-columns: 5% 1fr;
    grid-template-rows: 100%;
    min-height: calc(100vh - 40px);
}

.sidebar {
    grid-area: s;
}

.content {
    grid-area: c;
}